<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}       
        <img src={{image}}>
        <p>This is the about page. The weather app was created as part of a node course</p>

        {{>footer}}
    </body>
</html>